<?xml version="1.0"?>

<robot name="sensor"
  xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
  <xacro:include filename="../core/material.xacro"/>
  <xacro:include filename="../core/inertial.urdf.xacro" />
  <xacro:include filename="gazebo/gps.gazebo"/>
  <xacro:macro name="gps" params="parent *origin gps_name:=sensor_0">
    <xacro:property name="w" value="0.1"/>
    <xacro:property name="h" value="0.1"/>
    <xacro:property name="d" value="0.1"/>
    
    <joint name="${gps_name}_gps_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${gps_name}_gps_link"/>
      <xacro:insert_block name="origin" />
    </joint>

    <link name="${gps_name}_gps_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${w} ${d} ${h}"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${w} ${d} ${h}"/>
        </geometry>
        <material name="orange"/>
      </visual>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1"/>
        <xacro:solid_cuboid_inertia m="1" h="${h}" d="${d}" w="${w}" />
      </inertial>
    </link>
    <xacro:gazebogps gps_name="${gps_name}">
    </xacro:gazebogps>
  </xacro:macro>
</robot>
