<?xml version="1.0"?>
<robot name="sensor"
  xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
  <xacro:include filename="../core/inertial.urdf.xacro" />
  <xacro:include filename="gazebo/imu.gazebo"/>
  <xacro:macro name="imu" params="parent *origin imu_name:=sensor_0">
    <joint name="${imu_name}_imu_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${imu_name}_imu_link" />
      <xacro:insert_block name="origin" />
    </joint>
    <link name="${imu_name}_imu_link">
      <visual>
        <geometry>
          <box size="0.05 0.05 0.05"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="0.05 0.05 0.05"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <xacro:solid_cuboid_inertia w="0.05" h="0.05" d="0.5" m="1e-5" />
      </inertial>
    </link>
    <xacro:gazeboimu imu_name="${imu_name}"/>
  </xacro:macro>
</robot>
