<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="../core/inertial.urdf.xacro" />
    <xacro:include filename="../core/material.xacro"/>
    <xacro:include filename="gazebo/lidar.gazebo" />
    <xacro:macro name="lidar" params="parent *origin laser_name:=sensor_0 update:=30">

        <joint name="${laser_name}_laser_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${laser_name}_laser_frame" />
            <xacro:insert_block name="origin" />
        </joint>

        <link name="${laser_name}_laser_frame">
            <visual>
                <geometry>
                    <cylinder radius="0.05" length="0.04" />
                </geometry>
                <material name="red" />
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="0.05" length="0.04" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0.1" />
                <xacro:solid_cylinder_inertia m="0.1" h="0.04" r="0.05" />
            </inertial>
        </link>
        <xacro:gazebolidar laser_name="${laser_name}" update="${update}"/>
    </xacro:macro>
</robot>