<?xml version="1.0"?>
<robot name="follow_me_robot"
  xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
  <xacro:include filename="gazebo/sonar.gazebo"/>
  <xacro:macro name="sonar" params="side direction parent *origin">
    <xacro:property name="sufix" value="${side}_${direction}" />
    <joint name="${side}_${direction}_sonar_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${side}_${direction}_sonar_link"/>
    </joint>

    <link name="${side}_${direction}_sonar_link">
      <visual>
        <geometry>
          <mesh filename="package://follow_me_robot/urdf/meshes/max_sonar_ez4.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.001" />
        <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000017" iyz="0" izz="0.000000017" />
      </inertial>
    </link>
    <xacro:sonarsensor side="${side}" direction="${direction}" />
  </xacro:macro>
</robot>
