<?xml version="1.0"?>

<model>
  <name>Apriltag 0</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Marc Hummel</name>
    <email>hummelm.tin21@student.dhbw-heidenheim.de</email>
  </author>
  <author>
    <name>Tobias Seiffert</name>
    <email>seiffertt.tin21@student.dhbw-heidenheim.de</email>
  </author>
  <description>
    Apriltag Nr. 0
  </description>
</model>
