<?xml version="1.0"?>
<robot xmlns="http://www.ros.org" name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="inertial.urdf.xacro"/>
  <xacro:include filename="material.xacro"/>
  <xacro:include filename="follow_me_robot.gazebo.xacro" />
  <xacro:macro name="robot_body" params="wheel_radius body_length body_with body_heigth">
  <!-- Robot mechanical and motor parameters -->
  <joint name="robot_body_joint" type="fixed">
		<parent link="base_link"/>
		<child link="robot_body_link" />
		<origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" />
	</joint>
  <!-- BASE_LINK -->
  <link name="robot_body_link">
    <inertial>
      <mass value="125.0" />
      <origin xyz="0 0 0" />
      <!-- <xacro:solid_cuboid_inertia m="125.0" h="${body_heigth}" d="${body_length}" w="${body_with}" /> -->
      <!-- <xacro:solid_cuboid_inertia m="125.0" h="${body_length}" d="${body_with}" w="${body_heigth}" /> -->
      <xacro:solid_cuboid_inertia m="125.0" h="${body_with}" d="${body_heigth}" w="${body_length}" />
    </inertial>

    <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <box size="${body_length} ${body_with} ${body_heigth}"/>
            <!-- <box size="0.01 ${body_with} 0.01"/> -->
        </geometry>
    </visual>

    <collision>
       <origin xyz="0 0 0" rpy="0 0 0 " />
       <geometry>
            <box size="${body_length} ${body_with} ${body_heigth}"/>
        </geometry>
    </collision>
  </link>
  </xacro:macro>
</robot>
